<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Handout Distribution Result</title>
    <link rel="stylesheet" href="/css/distributeHandout.css">
</head>
<body>
<div class="container">
    <h1>Handout Distribution Result</h1>

    <!-- 팀별로 반복하여 Handouts 표시 -->
    <div th:each="entry : ${handoutsByTeam}">
        <div class="team-section">
            <!-- 팀 이름 출력 -->
            <h2 th:text="'Team: ' + ${entry.key}"></h2>

            <!-- Handout 리스트 출력 -->
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Handout Name</th>
                    <th>Week</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="handout : ${entry.value}">
<!--                    <td th:text="${handout.name}"></td>-->
                    <td th:text="${handout.week} + ' 주차'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>
