<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Handout and Student Selection</title>
    <link rel="stylesheet" href="/css/distributeHandout.css">
</head>
<body>
<div class="container">
    <h1>Handout and Student Selection</h1>
    <form action="/tests/distribute" method="post">
        <div class="selection-container">
            <div class="handout-section">
                <h2>Handouts</h2>
                <table class="styled-table">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Test Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="test : ${tests}">
                        <td><input type="checkbox" th:id="${'test-' + test.id}" th:value="${test.id}" name="testSelections"></td>
                        <td th:text="${test.week +' 주차'}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="student-section">
                <h2>Teams</h2>
                <table class="styled-table">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Team Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="team : ${teams}">
                        <td><input type="radio" th:id="${'team-' + team.teamName}" th:value="${team.id}" name="teamSelection"></td>
                        <td th:text="${team.teamName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>
